<input
  id="input"
  type="text"
  [(ngModel)]="title"
  name="title"
  (keyup.enter)="addNotes()"
  placeholder="Type your note..." />

<ul>
  <li *ngFor="let note of notes | async" [ngStyle]="{'border': '2px solid' + note.data.belt}" (click)="getNotes(note.id)">
    <div>{{note.data.title}}</div>
    <a class="delete" href="#" (click)="deleteNote(note.id)" title="Deleter this note">x</a>
    <a title="Coppy this note" class="coppy" href="#" (click)="copyToClipboard(note.data.title)">coppy</a>
  </li>
</ul>
